[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/helloiss
[access "refs/for/refs/*"]
	read = group user/helloiss
	push = group user/helloiss
	label-Code-Review = -2..+2 group user/helloiss
	label-Verified = -1..+1 group user/helloiss
	rebase = group user/helloiss
	removeReviewer = group user/helloiss
	submit = group user/helloiss
[access "refs/heads/*"]
	read = group user/helloiss
	create = group user/helloiss
	push = +force group user/helloiss
	pushMerge = group user/helloiss
[access "refs/tags/*"]
	push = +force group user/helloiss
	pushTag = group user/helloiss
	pushSignedTag = group user/helloiss
